fastapi
uvicorn
pydantic
python-multipart
langchain
langchain-community
langchain-google-genai>=2.0.0
google-genai>=1.0.0
faiss-cpu
pypdf
requests
streamlit
python-dotenv
sentence-transformers
transformers>=4.44.0
langchain-huggingface
google-api-core
langchain-ollama
torch>=2.4.0
torchvision>=0.19.0
numpy<2.0.0